@import './ClassificationSettingPage.module.scss';

.title__container {
  display: flex;
  width: 100%;
  border-bottom: 1px solid var(--dark-90);
  margin-bottom: 1rem;
  .title {
    padding: 0 0 0 1rem;
    width: 33%;
    border-bottom: none;
    &:nth-child(2) {
      width: 33%;
      padding: 0;
      text-align: center;
    }
  }
}
