.page__container {
  height: 100vh;
  max-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .admin__container {
    width: 100vw;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .icon__container {
      height: 50%;
      aspect-ratio: 1/1;
      border: 8px solid var(--dark-95);
      border-radius: 50%;
      padding: 1rem;
      cursor: pointer;
      .icon {
        height: 100%;
        width: 100%;
      }
    }
    .text__container {
      text-align: center;
      padding: 1rem;
      cursor: pointer;
      .title {
        font-size: 18px;
        font-weight: 700;
      }
      .description {
        margin-top: 0.5rem;
      }
    }
  }
  .customer__container {
    width: 100vw;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    .icon__container {
      height: 50%;
      aspect-ratio: 1/1;
      border: 8px solid var(--dark-95);
      border-radius: 50%;
      padding: 1rem;
      cursor: pointer;

      .icon {
        height: 100%;
        width: 100%;
      }
    }
    .text__container {
      text-align: center;
      padding: 1rem;
      cursor: pointer;
      .title {
        font-size: 18px;
        font-weight: 700;
      }
      .description {
        margin-top: 0.5rem;
      }
    }
  }
}

@media screen and (min-width: 960px) {
  .page__container {
    flex-direction: row;
    align-items: center;
    .admin__container {
      width: 35vw;
      .text__container {
        .title {
          font-size: 24px;
          font-weight: 700;
        }
        .description {
          font-size: 20px;
          margin-top: 0.5rem;
        }
      }
    }
    .customer__container {
      width: 35vw;
      .text__container {
        .title {
          font-size: 24px;
          font-weight: 700;
        }
        .description {
          font-size: 20px;
          margin-top: 0.5rem;
        }
      }
    }
  }
}
