.right__side__container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .table__container {
    height: 90%;
    aspect-ratio: 1/1;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas:
      'id_1 id_2 id_3 id_4 id_5'
      'id_6 id_7 id_8 id_9 id_10'
      'id_11 id_12 id_13 id_14 id_15'
      'id_16 id_17 id_18 id_19 id_20'
      'id_21 id_22 id_23 id_24 id_25';
  }

  @for $i from 1 through 25 {
    :global(.table__#{$i}) {
      grid-area: id_#{$i};
      text-align: center;
      background-color: var(--dark-20);
      border: 1px solid var(--dark-60);
      border-radius: 8px;
      font-size: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 500;
    }
  }
  :global(.d__none) {
    display: none;
  }
}
