@import './CategorySettingPage.module.scss';

.table__container {
  display: grid;
  height: 85%;
  aspect-ratio: 1/1;
  aspect-ratio: 1/1;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 1rem;
  padding: 2rem;
  margin: 0 auto;
}

@for $i from 1 through 25 {
  .table__#{$i} {
    font-size: 22px;
    background-color: var(--dark-20);
    border: 1px solid var(--dark-60);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
