.menu__item__container {
  border-bottom: 1px solid var(--dark-70);
  display: flex;
  height: 25%;
  padding: 0.5rem;
  align-items: center;

  .image__container {
    width: 16vw;
    height: 16vw;
    .default__img {
      width: 100%;
      height: 100%;
    }
  }
  .right__side__container {
    display: flex;
    align-items: center;
    width: 82vw;
    // padding: 0.5rem;
    .title__container {
      min-width: 55%;
      max-width: 55%;
      padding: 0.5rem 0 0.5rem 0.8rem;
      font-size: 10px;

      .title {
        font-size: 15px;
        font-weight: 500;
      }
    }

    .price {
      width: 25%;
      font-weight: 700;
      text-align: center;
    }
    .count__control {
      display: flex;
      border: 1px solid var(--dark-95);
      border-radius: 5px;
      .icon__container {
        width: 22px;
        height: 22px;
        display: flex;
        justify-content: center;
        align-items: center;

        .icon {
          width: 100%;
          height: 100%;
        }
      }
      .count {
        width: 30px;
        height: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-right: 1px solid var(--dark-95);
        border-left: 1px solid var(--dark-95);
      }
    }
  }
}

@media screen and (min-width: 400px) {
  .menu__item__container {
    .right__side__container {
      .title__container {
        .title {
          font-size: 24px;
          margin-bottom: 0.3rem;
        }
        .description {
          font-size: 18px;
        }
      }
      .price {
        font-size: 24px;
      }
      .count__control {
        .icon__container {
          width: 30px;
          height: 30px;
        }
        .count {
          width: 30px;
          height: 30px;
          font-size: 24px;
        }
      }
    }
  }
}

@media screen and (min-width: 1000px) {
  .menu__item__container {
    .image__container {
      height: 100px;
      width: 100px;
      .default__img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
