.modal {
  position: absolute;
  z-index: 2;
  .backdrop {
    width: 100vw;
    height: 100vh;
    max-height: -webkit-fill-available;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .modal__container {
    position: absolute;
    width: 90vw;
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    z-index: 10;
    background-color: var(--white);
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    border: 8px solid #f4b639;

    .title__container {
      text-align: center;
      height: 50%;
      width: 55%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .title {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 1.2rem;
      }
    }

    .button__container {
      height: 50%;
      width: 55%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .return__button,
      .confirm__button {
        border: none;
        font-size: 16px;
        color: var(--white);
        padding: 0.5rem 1rem;
        border-radius: 5px;
        cursor: pointer;
      }
      .return__button {
        background-color: var(--error-color);
      }
      .confirm__button {
        background-color: #478058;
      }
    }
  }
  .detail {
    .item__container {
      display: flex;
      .detail__title {
        margin-right: 1rem;
      }
      .detail__number {
      }
    }
  }
}
@media screen and (min-width: 400px) {
  .modal {
    .modal__container {
      .title__container {
        margin-bottom: 2rem;
        .title {
          font-size: 32px;
          font-weight: 700;
          margin-bottom: 2rem;
        }
      }
    }
  }
}
