.item__container {
  display: flex;
  justify-content: space-between;
  padding: 0.2rem 0;

  .name {
    width: 85%;
    text-align: left;
  }
  .price {
    width: 15%;
    text-align: center;
  }
}
