.item {
  min-width: 250px;
  text-align: center;
  font-size: 22px;
  color: var(--dark-95);
  padding: 1rem;
  cursor: pointer;
}

.active {
  min-width: 250px;
  text-align: center;
  font-size: 22px;
  padding: 1rem;
  cursor: pointer;
  border-bottom: 3px solid var(--navbar-active);
  margin: 0 0 10px 0;
  color: var(--navbar-active);
  // transform: translateX(60%);
}
